
obj/Debug/samplePlugin.pdb
obj/Debug/SamplePlugin.csprojAssemblyReference.cache
obj/Debug/SamplePlugin.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/SamplePlugin.csproj.FileListAbsolute.txt
bin/Debug/samplePlugin.pdb
bin/Debug/samplePlugin.dll
obj/Debug/samplePlugin.dll
